$backgroundColor: #efefef;
$radius: 40%;

form {
  display: inline-block;
  margin: auto;
  width: 200px;

  label {
    display: flex;
    margin: 1rem 0;

    &.methods {
      span {
        cursor: pointer;
        margin-right: 1rem;
        padding: 0.25rem 0.5rem;
        background: rgb(5, 4, 58);
        color: gray;

        &:hover,
        &.active {
          background: rgb(240, 230, 230);
        }
      }
    }
  }
  #put-post {
    height: 100px;
    width: 275px;
    background-color: rgb(113, 167, 113);
    color: rgb(252, 249, 251);
  }
}
